In [55]:
# Importing the libraries

import pandas as pd
import numpy as np
import warnings
import sys
sys.path.append("..")
warnings.filterwarnings('ignore')
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer

-> Call center data

In [ ]:
# Reading the dataset

call_center = pd.read_csv(r'C:\Users\hp\OneDrive - students.jkuat.ac.ke\Desktop\Tiko\data_call_center.csv')
call_center

--> Tiko Platform Data

In [65]:
# Reading the dataset

tiko_platform = pd.read_csv(r'C:\Users\hp\OneDrive - students.jkuat.ac.ke\Desktop\Tiko\data_tiko_platform.csv.csv')
tiko_platform

,Offer Redemption Event Id,Rafiki Id,Offer Trader Name,Enrolment Path Classifier,Enrolment Type,Offer Trader County Name,Offer Trader Business Organisation,Offer Redemption Date,Service Type
0,487759949,1329043,Mathare North Health Centre,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Public Sector Facilities,26/06/2024 08:30:14,HIV
1,487761498,2015957,Medwell Pharmaceuticals Masimba,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Pharmacy,26/06/2024 08:33:33,HST
2,487826898,2014933,Medlyf Pharmacy,SMS - Low Tech,Enrolment With Mobiliser,Kisumu,Pharmacy,26/06/2024 10:00:56,HST
3,487843287,2009023,Lubryl Medical & Consultancy Ltd,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Private Non Franchised Clinics,26/06/2024 10:15:20,OT
4,487911292,2016970,Lungalunga Health Centre,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Public Sector Facilities,26/06/2024 11:01:13,OC
...,...,...,...,...,...,...,...,...,...
1507,492235175,1825488,Tassia Hospital,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Private Non Franchised Clinics,30/06/2024 18:57:19,OC
1508,492268526,1994059,Nyawita Medical Clinic,SMS - Low Tech,Enrolment With Mobiliser,Kisumu,Private Non Franchised Clinics,30/06/2024 20:18:38,IMP
1509,492276203,2027145,Nyawita Medical Clinic,SMS - Low Tech,Enrolment With Mobiliser,Kisumu,Private Non Franchised Clinics,30/06/2024 20:54:32,HIV
1510,492289088,1972135,Tassia Hospital,SMS - Low Tech,Enrolment With Peer,Nairobi,Private Non Franchised Clinics,30/06/2024 22:27:10,OC
1511,492293506,1860917,Tassia Hospital,SMS - Low Tech,Enrolment With Mobiliser,Nairobi,Private Non Franchised Clinics,30/06/2024 23:31:06,OC

In [67]:
financial_impact = pd.read_csv(r'C:\Users\hp\OneDrive - students.jkuat.ac.ke\Desktop\Tiko\data_financial_impact.csv')
financial_impact

      offer_redemption_event_id Actor Role  Tiko Amount
0                     487759949      Agent          125
1                     487759949   Provider           20
2                     487759949     Rafiki           60
3                     487761498   Provider          288
4                     487826898   Provider          288
...                         ...        ...          ...
4050                  492289088   Provider          150
4051                  492289088     Rafiki           60
4052                  492293506      Agent          125
4053                  492293506   Provider          150
4054                  492293506     Rafiki           60

[4055 rows x 3 columns]